.we {
    padding: 60px 120px 20px 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.we-bump {
    position: relative;
    width: 502px;
}

.we-bump::before {
    position: absolute;
    content: '';
    width: 17%;
    height: 130px;
    right: -5px;
    top: -5px;
    border-radius: 10px;
    background-color: #FC6F92;
}
.we-bump * {
    position: relative;
}
.we-bump>img {
    width: 502px;
}

.we-care h5 {
    font-family: LatoBold;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #510115;
}

.we-care p {
    font-family: SofiaProRegular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #745464;
    margin-top: 30px;
}

@media(max-width: 780px) {
    .we {
        padding: 3vw 5vw 10vw 3.5vw;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 4vw;
    }

    .we-care h5 {
        font-size: 2.8vw;
    }

    .we-care p {
        font-size: 2.3vw;
        margin-top: 2vw;
    }
    
    .we-bump {
        width: 70vw;
    }
    .we-bump>img {
        width: 70vw;
    }

    .we-bump::before {
        height: 35%;
        top: -1vw;
        right: -1vw;
    }
}
