.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.sign-up-modal {
    width: 725px;
    height: auto;
    padding-top: 5px;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 25vw;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 3px 13px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-right: 20px;
}

.sign-up-modal>p {
    font-family: SofiaProRegular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: #FC6F92;
}

.sign-up-modal>p:first-of-type {
    margin-bottom: 0;
}
.sign-up-modal>p:last-of-type {
    text-decoration: underline;
    cursor: pointer;
}

.sign-up-modal .agree {
    font-family: SofiaProRegular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: #745464;
}

.agree a {
    color: #745464;
}

.sign-up-modal>h5 {
    color: #510115;
    font-size: 30px;
    font-family: LatoBold;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.sign-up-modal input {
    width: 665px;
    height: 50px;
    border: 0.5px solid #510115;
    margin-bottom: 20px;
    font-family: sofiaProRegular;
    font-size: 18px;
    color: #745464;
    padding-left: 20px;
}

.submit-btn {
    width: 665px;
    height: 50px;
    border: none;
    background-color: #FFD700;
    border-radius: 5px;
    font-family: LatoBold;
    font-size: 20px;
    color: #510115;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 140%;
    margin-bottom: 20px;
}

.alt {
    border-top: 0.5px solid rgba(116, 84, 100, 0.50);
    padding-top: 20px;
    margin: 0 20px;
    position: relative;
}

.alt>p {
    position: absolute;
    top: -13px;
    left: 50%;
    background-color: #fff;
    padding: 0 5px;
    transform: translateX(-50%);
}

.alt>.alt-login:first-of-type {
    margin-right: 10px;
}

.alt-login {
    width: 320px;
    height: 50px;
    border-radius: 5px;
    border: 0.5px solid #510115;
    background-color: #fff;

}

