.modal-container {
    display: flex;
}

.modal-img {
    position: relative;
    width: 48vw;
}

.modal-img * {
    position: relative;
}

.modal-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 82, 124, 0.40);
    ;
    z-index: 0;
}

.modal-img img {
    width: 100%;
}

.modal-img-dt {
    position: absolute;
    top: 340px;
    left: 40px;
    z-index: 1000;
}

.modal-img-dt h5:first-of-type {
    color: #FFF;
    font-family: LatoBold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 140%;
}

.modal-img-dt h5:last-of-type {
    color: #FFF;
    font-family: LatoBold;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.sign {
    width: 52vw;
    padding: 40px 60px 0px 85px;
    background-color: rgba(242, 82, 124, 0.02);
}

.sign-exit {
    position: absolute;
    top: 40px;
    right: 60px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-group label {
    color: #510115;
    font-size: 20px;
    font-family: LatoBold;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    margin: 10px 0;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-group img {
    position: absolute;
    top: 70px;
    left: 20px;
}

.sign p {
    font-family: SofiaProRegular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: #745464;
    text-align: center;
}


.agree-container {
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
}
.sign>p>span {
    color: rgba(81, 1, 21, 0.80);
    text-decoration: underline;
    cursor: pointer;
}



input#agree {
    width: 20px;
    height: 20px;
    border: 0;
    outline: 0;
    /* opacity: 0; */
}

#agree:checked {
    accent-color: #F25169;
    opacity: 1;
}

.agree {
    font-family: SofiaProRegular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #745464;
    margin-left: 5px;
}

.agree a {
    color: #745464;
}

.sign>h5:first-of-type {
    color: #510115;
    font-size: 23px;
    font-family: LatoBold;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    margin-top: 40px;
}

.sign .form-group input {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    color: rgba(116, 84, 100, 0.60) !important;
    font-family: LatoBold;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 145%;
    padding-left: 60px;
}

.sign .form-group input:focus {
    border: none;
    outline: none;
    background-color: #fff;
}

.sign .form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: rgba(116, 84, 100, 0.60) !important;
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background-color: #fff !important;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background-color: #fff !important;
        color: inherit;
    }
}

.submit-btn {
    width: 100%;
    height: 65px;
    border: none;
    background-color: #FFD700;
    border-radius: 5px;
    font-family: LatoBold;
    font-size: 20px;
    color: #510115;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 140%;
    margin-bottom: 20px;
}

.alt {
    border-bottom: 0.5px solid rgba(116, 84, 100, 0.50);
    padding: 30px 0 50px 0;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.alt>p {
    position: absolute;
    bottom: -28px;
    left: 50%;
    background-color: rgb(254, 251, 251);
    padding: 0 10px;
    transform: translateX(-50%);
    color: rgba(116, 84, 100, 0.50);
    text-align: center;
    font-family: SofiaProRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.alt>.alt-login:first-of-type {
    margin-right: 10px;
}

.alt-login {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 0.5px solid rgba(116, 84, 100, 0.40);
    background-color: transparent;
    color: #510115;
    text-align: center;
    font-family: LatoBold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

@media(max-width: 780px) {
    .sign {
        width: 100vw;
        padding: 40px 25px;
    }

    .sign-exit {
        top: 40px;
        right: 30px;
    }

    .sign>h5:first-of-type {
        font-size: 14.5px;
        margin-top: 20px;
    }

    .alt-login {
        width: 145px;
        font-size: 11px;
        height: 32px;
    }

    .alt-login img {
        width: 25px;
        height: 25px;
    }

    .form-group label {
        font-size: 11px;
    }

    .sign .form-group input {
        height: 41px;
        font-size: 8px;

    }

    .sign .form-group img {
        width: 14px;
        height: 14px;
        top: 50px;
    }

    input#agree {
        width: 11.7px;
        height: 11.7px;
    }

    .agree {
        font-size: 10px;
    }

    .submit-btn {
        height: 41px;
    }

    .sign p {
        font-size: 10px;
    }
}