.story-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px;
}

.story-wrapper {
    padding-top: 0;
    margin-bottom: 40px;
}
.story-hd {
    font-family: LatoBold;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0;
    color: #510115;
    
}

.story {
    font-family: SofiaProRegular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: #745F64;
}

.story-img {
    width: 575px;
    border-radius: 10px;
    position: relative;
}

.story-img::before {
    position: absolute;
    content: "";
    background-color: rgba(51, 01, 15, 0.25);
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.story-img>img {
    border-radius: 10px;
    width: 100%;
}

.stat {
    background-color: #FFF1F4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
}

.stats-hd {
    font-family: LatoBold;
    font-size: 30px;
    color: #510115;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
}

.stats-bd {
    color: #745F64;
    font-family: SofiaProRegular;
    font-size: 18px;
}

@media(max-width: 780px) {
    .story-body {
        padding: 16px 20px;
        flex-direction: column;
        gap: 30px;
    }

    .story-hd {
        font-size: 3vw;
    }

    .story {
        font-size: 2.5vw;
    }

    .story-img {
        width: 100%;
    }

    .stat {
        padding: 18px 20px;
        justify-content: space-between;
        gap: 5vw;
    }

    .stats-hd {
        font-size: 3.2vw;
    }

    .stats-bd {
        font-size: 2vw;
        line-height: 120%;
    }
}