.stages {
    padding: 40px 80px 40px 120px;
}

.stages>h5 {
    font-family: LatoBold;
    font-size: 30px;
    color: #510115;
    line-height: 140%;
    letter-spacing: 0;
}

.p-stage {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.p-stage>div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    align-items: center;
}
.p-stage img {
    width: 530px;
}

.p-stage h5 {
    font-family: LatoSemibold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    color: #510115;
    margin-top: 20px;
}

.p-stage p {
    font-family: SofiaProRegular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #745464;
}

@media(max-width: 780px) {
    .stages {
        padding: 15vw 5vw 10vw 3.5vw;
    }

    .stages>h5 {
        font-size: 3vw;
    }

    .p-stage {
        gap: 5vw;
    }

    .p-stage>div:nth-last-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }

    .p-stage>div:first-of-type,
    .p-stage >div:last-of-type {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5vw;
    }

    .p-stage img {
        width: 60vw;
    }

    .p-stage h5 {
        font-size: 2.8vw;
    }

    .p-stage p {
        font-size: 2.5vw;
    }
}