.fitness {
    padding: 40px 60px 30px 60px;
}

.fitness-hd {
    text-align: center;
    padding: 10px 30px;
}

.fitness-hd>h5 {
    font-family: LatoBold;
    font-size: 30px;
    color: #510115;
    line-height: 140%;
    letter-spacing: 0;
}

.fitness-hd>p {
    font-family: PoppinsRegular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #745464;
}

.yoga>h5 {
    padding: 40px 0;
    text-align: center;
    font-family: LatoSemibold;
    font-size: 24px;
    color: #510115;
    line-height: 140%;
    letter-spacing: 0;
}

.poses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.poses div {
    position: relative;
    width: 250px;
}

.poster {
    width: 100%;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.play-btn:hover {
    opacity: 0.5;
}


.avoid {
    padding-top: 60px;
}


.avoid h5 {
    font-family: LatoBold;
    font-size: 30px;
    color: #510115;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
}

.activity {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px; 
}

.activity div {
    border: 1px #745464 solid ;
    border-radius: 10px;
    padding: 30px 20px 20px 30px;
    color: #745464;
    font-family: LatoSemibold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    width: 350px;
    height: 120px;
    text-align: center;
}

.activity div:hover {
    background-color: #FC6F92;
    color: #F5F5F5;
    border: 1px #FC6F92 solid;
}