.why {
    margin: 60px 100px 20px 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6E5FA;
    border-radius: 10px;
}


.why-gyn {
    padding: 0 30px 0 35px;
}

.why-gyn h5 {
    font-family: LatoBold;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #510115;
}

.why-gyn p {
    font-family: SofiaProRegular;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #745464;
    margin-top: 30px;
}

.why img {
    width: 550px;
}