/* .map2 {
    position: 'relative';
    flex-direction: 'column';
    align-items: 'center';
    height: '100vh';
    width: '100vw';
} */

.map2-container {
    width: 100vw;
    height: 100vh;
    padding: 30px;
}
/* 
.distance {
    display: flex;
    justify-content:'space-between'
} */