.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 20px 126px;

}

nav {
    margin-left: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 40px;
    list-style: none;
    font-family: SofiaProRegular;
}

nav a {
    text-decoration: none;
    color: #745464;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
}

.active {
    text-decoration: underline;
}

.big-btn {
    font-family: LatoBold;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0;
}

.dis-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar {
    background-color: #FC6F92;
    color: #fff;
    font-family: LatoBold;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-out {
    font-family: SofiaProRegular;
    font-size: 24;
    font-weight: 600;
}

.log-out:hover {
    color: #745464;
}

.logged {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logged p {
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    padding: 15px 23px 20px 18px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bd ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 55px;
}

.menu-bd li {
    font-family: LatoBold;
    color: #510115;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.menu-bd button {
    padding: 7px 19px;
    background-color: #FFD700;
    border-radius: 3px;
    border: none;
    color: #510115;
    font-family: LatoBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media(max-width: 780px) {
    .header {
        padding: 16px 20px;
    }
}