.ready h5 {
    font-family: LatoBold;
    font-size: 45px;
    color: #510115;
    line-height: 140%;
    letter-spacing: 0;
}

.ready>div:has(h5) {
    width: 750px;
    text-align: center;
    margin: 20px auto;
}

.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 80px 20px 120px;
}

.journey-res,
.journey-bump1,
.journey-bump2,
.journey-bf {
    height: 430px;
    width: 270px;
    position: relative;
}

.journey img {
    width: 100%;
}

.journey-res>img {
    position: absolute;
    top: 0px;
}
.journey-bump1>img {
    position: absolute;
    bottom: 0px;
}
.journey-bump2>img {
    position: absolute;
    top: 30px;
}

.journey-bf>img {
    position: absolute;
    right: 0px;
}