.manage {
    padding: 70px 100px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.mgt-ways {
    background-color: #FFF1F4;
    border-radius: 10px;
    padding: 100px 50px 30px 20px;
}

.pain-mgt>h5 {
    color: #510115;
    font-size: 30px;
    font-family: LatoBold;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0;
}

.pain-mgt p {
    color: #745464;
    font-size: 18px;
    font-family: SofiaProRegular;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
}

.mgt-ways h5{
    color: #510115;
    font-size: 24px;
    font-family: LatoBold;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;
}

.mgt-ways li {
    color: #510115;
    margin-bottom: 30px;
}

.mgt-img {
    margin-top: 80px;
    display: flex;
    gap: 10px;
}

.mgt-img1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mgt-img1 img:first-of-type {
    width: 215px;
    margin-left: 60px;
}
.mgt-img2 img:first-of-type {
    width: 215px;
    margin-left: 60px;
}
.mgt-img2 img:last-of-type {
    width: 215px;
}


.mgt-img2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

@media(max-width: 780px) {
    .manage {
        padding: 0;
    }
    
    .pain-mgt>h5,
    .pain-mgt>p {
        padding: 1vw 3.5vw 0;
    }

    .mgt-ways {
        padding: 10vw 3.5vw;
    }

    .pain-mgt>h5 {
        font-size: 3vw;
        margin-top: 8vw;
        margin-bottom: 0;
    }

    .pain-mgt p {
        font-size: 2.5vw;
        margin-bottom: 6vw;
    }

    .mgt-ways h5 {
        font-size: 2.8vw;
    }

    .mgt-ways li>div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .mgt-ways li>div>div {
        width: 55vw;
    }

    .mgt-ways li:first-of-type img {
        width: 28vw;
    }

    .mgt-ways li:nth-child(2) img {
        width: 17vw;
    }
    .mgt-ways li:nth-child(3) img {
        width: 25vw;
    }
    .mgt-ways li:nth-child(2) img {
        width: 22vw;
    }

    .mgt-ways li::marker {
        color: #FC6F92;
        transform: translateY(5vw);
    }

    
}